<%# locals: (error:) %>

<%= button_to solid_errors.error_path(error),
    method: :patch,
    params: { error: { resolved_at: Time.now } },
    form: { data: { turbo_confirm: "Are you sure you want to resolve this error?" } },
    data: { component: "button", variant: "primary" },
    class: "w-full justify-center" do %>
  <%= icon_for(:check_circle, class: "size-4") %>
  <span>Resolve Error</span>
<% end %>
