<%= render "components/table/cell" do %>
  <%= link_to job.queue_name, application_queue_path(@application, job.queue),
      class: "text-sm text-primary hover:underline" %>
<% end %>
<%= render "components/table/cell" do %>
  <span class="text-sm text-muted-foreground"><%= time_distance_in_words_with_title(job.finished_at) %> ago</span>
<% end %>
